#blog h2 {
    color: #1E1E1E;
    font-weight: 700;
    font-size: 3rem;
}

#blog p {
    color: #4e4e4e;
    font-size: 16px;
}

#blog .exc {
    position: relative;
}

#blog .exc:after {
    content: "";
    width: 4%;
    height: 4px;
    background-color: #0078FF;
    position: absolute;
    top: 100%;
    left: 48%;
    margin: 10px 0;
}

.card-title {
    color: white;
    background-color: #0078FF;
    width: 25%;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
    padding: 8px 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 100%);
}

.text-black {
    color: #000;
}

.card-text p {
    font-size: 20px;
}

#blog .card {
    border-radius: 0%;
}

#blog .card-body img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#blog i {
    padding: 2px;
    background-color: white;
    color: #4e4e4e;
    border: none;
}

.bg-dark-white {
    background-color: #F7F7F7;
}

#blog span {
    transition: all 1s;
}

#blog span:hover {
    color: #0078FF;
    
}

#blog h5 {
    transition: all 1s;
}

#blog h5:hover {
    color: #0078FF;
    background-color: white;
}

.contact {
    background: linear-gradient(rgba(0, 88, 220, 0.6), rgba(0, 88, 220, 0.6)), url(../images/12.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-top: 30px;
}

.touch h3:after {
    content: "";
    background-color: #0078FF;
    width: 100px;
    height: 5px;
    position: absolute;
    top: 130%;
    left: 0;
}

.touch .fab {
    border-radius: 50%;
    border: 3px solid #0078FF;
    padding: 0.4em;
    margin-right: 10px;
    font-size: 22px;
    transition: all .5s;
    transition: color .5s .5s;
}

.touch .fab:hover {
    background-color: #0078FF;
    border-color: #CDE1F8;
    color: white;
    cursor: pointer;
    transition: color .5s 0s;
}

.touch .fa-facebook-f {
    padding: 0.4em 0.6em;
}

.touch .fa-instagram {
    padding: 0.4em 0.5em;
}

.form input {
    margin-bottom: 35px;
    width: 100%;
    height: 8%;
    padding: 12px 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: calibri;
    font-size: 15px;
    color: #B7B8B7;
}

.form textarea {
    padding: 12px 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    resize: none;
    font-family: calibri;
    font-size: 15px;
    color: #B7B8B7;
    margin-bottom: 35px;
    width: 100%;
}

.foot {
    background-color: #0062D3;
    box-shadow: inset 0px 5px 3px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 576px) {
    .touch p {
        text-align: left !important;
    }
    .form textarea {
        width: 100%;
    }
    .touch {
        margin-top: 50px;
    }
    .touch .fa-facebook-f {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .form textarea {
        width: 100%;
    }
    .touch {
        margin-top: 50px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .form textarea {
        width: 100%;
    }
    .touch {
        margin-top: 50px;
    }
}

.service{
    text-align: center;
    
    
}
.service .line{
    background-color: #0078FF;
    height: 5px;
    width: 50px;
    margin: 20px auto;
}
.services{
    text-align: center;
    background-color: #F5F5F5;
    padding-top: 4rem;
   
}

.one,.two,.three,.four,.five,.six{
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    
    
}
i{
    margin-bottom: 20px;
}
.one{
    background-color: #fff;
    border-radius: 8px;
    
}
.one .circle{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #0078FF;
    transition: all 500ms;
}
.one i{
    margin-top: 25px;
    font-size: 42px;
    line-height: 35px;
    transition: all 500ms;
}
.one:hover .circle{
    background-color:#0078FF ;
    border: 10px solid #CDE1F8;
}
.one:hover i{
    background-color:#0078FF ;
    color: white;
    
}
.two{
    background-color: #fff;
    border-radius: 8px;
    
}
.two .circle{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #0078FF;
    transition: all 500ms;
}
.two i{
    margin-top: 25px;
    font-size: 42px;
    line-height: 35px;
    transition: all 500ms;
}
.two:hover .circle{
    background-color:#0078FF ;
    border: 10px solid #CDE1F8;
}
.two:hover i{
    background-color:#0078FF ;
    color: white;
    
}

.three{
    background-color: #fff;
    border-radius: 8px;
}
.three .circle{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #0078FF;
    transition: all 500ms;
}
.three i{
    margin-top: 25px;
    font-size: 42px;
    line-height: 35px;
    transition: all 500ms;
}
.three:hover .circle{
    background-color:#0078FF ;
    border: 10px solid #CDE1F8;
}
.three:hover i{
    background-color:#0078FF ;
    color: white;
    
}
.four{
    margin-top: 30px;
    background-color: #fff;
    border-radius: 8px;
}
.four .circle{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #0078FF;
    transition: all 500ms;
}
.four i{
    margin-top: 25px;
    font-size: 42px;
    line-height: 35px;
    transition: all 500ms;
}
.four:hover .circle{
    background-color:#0078FF ;
    border: 10px solid #CDE1F8;
}
.four:hover i{
    background-color:#0078FF ;
    color: white;
    
}
.five{
    margin-top: 30px;
    background-color: #fff;
    border-radius: 8px;
}
.five .circle{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #0078FF;
    transition: all 500ms;
}
.five i{
    margin-top: 25px;
    font-size: 42px;
    line-height: 35px;
    transition: all 500ms;
}
.five:hover .circle{
    background-color:#0078FF ;
    border: 10px solid #CDE1F8;
}
.five:hover i{
    background-color:#0078FF ;
    color: white;
    
}
.six{
    margin-top: 30px;
    background-color: #fff;
    border-radius: 8px;
}
.six .circle{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #0078FF;
    transition: all 500ms;
}
.six i{
    margin-top: 25px;
    font-size: 42px;
    line-height: 35px;
    transition: all 500ms;
}
.six:hover .circle{
    background-color:#0078FF ;
    border: 10px solid #CDE1F8;
}
.six:hover i{
    background-color:#0078FF ;
    color: white;
    
}




body {
    background-color: #f5f5f5;
    color: #4e4e4e;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #1e1e1e;
  }
  
  a {
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
  }
  
  a:hover {
    color: #0078ff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  .box-shadow, .paralax-mf {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  }
  
  .box-shadow-a, .button:hover {
    box-shadow: 0 0 0 4px #cde1f8;
  }
  
  
  .overlay-mf {
    background-color: #0078ff;
  }
  
  .overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
  }
  
  .paralax-mf {
    position: relative;
    padding: 8rem 0;
  }
  
  .display-table {
    width: 100%;
    height: 100%;
    display: table;
  }
  
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .about-mf .about-img {
    margin-bottom: 2rem;
  }
  
  .about-mf .about-img img {
    margin-left: 10px;
  }
  
  @media (min-width: 767px) {
    .about-mf .box-pl2 {
      margin-top: 3rem;
      padding-left: 0rem;
    }
  }
  
  .skill-mf span {
    color: #4e4e4e;
  }
  
  .skill-mf .progress {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
  }
  
  .skill-mf .progress .progress-bar {
    height: .7rem;
    background-color: #0078ff;
  }
 /*-------------------------------------------------*/ 
  /*Testominal*/
   /*-------------------------------------------------*/ 

  
   .testmonial{background: url(../../images/overlay-bg.jpg) fixed center center;background-size: cover;}
   .testmonial .overlay{background: rgba(0, 120, 255, 0.6);}
   .testmonial .overlay ul li a{display: block;width: 20px;height: 5px;background-color: #cde1f8;padding: 0;}
   .testmonial .overlay ul li .active{background-color: #fff;}
   